/* Cores de auxílio
.cor-destaque { color: #99B1BF; } cinza
.cor-background { color: #DFEBF2; } branco gelo
.cor-principal { color: #0D3140; } azul marinho

.cor-reserva { color: #396273; } azul claro
.cor-reserva { color: #356B8C; } azul escuro
*/

html {
    background-color:#DFEBF2; /* Cor de fundo */
    color: #0D3140; /* Cor do texto */
    font-family: 'Arial', 'serif';
    font-size: 14px;
}

h1 , h2 , h3 {
    font-family: 'Times New Roman', Times, serif;
}

header h1 {
    font-size: 30px;
    text-align: center;
    margin: auto;
}

header {
    position: relative;
    top: 80px;
}

img {
    display: flex;
    float: right;
    width: 250px;
    margin-right: 15px;
    margin-top: 0;
}

footer , nav {
    background-color: #396273;
    color: #DFEBF2;
}

footer a , nav a {
    color: #DFEBF2;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap; 
    position: absolute;
    top:0%;
    left: 0%;
    right: 0%;
}

#menu ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
}

#menu ul li {
    margin: 1em;
    text-align: center;
}

#escolaridade {
    position: absolute;
    top: 370px;
}

#certificacao {
    position: absolute;
    top: 820px;
}

#experiencia {
    position: absolute;
    top: 1280px;
}

#habilidades {
    position: absolute;
    top: 2520px;
}

footer {
    display: flex;
    width: 99%;
    padding-right: 5%;
    padding-left: 5%;
    position: absolute;
    top: 2750px;
}

footer li {
    display: inline-block;
    border: #DFEBF2 solid 2px;
}

.retorno_inicio ul {
    display: flex;
    width: 100%;
    align-items: center;
    position: absolute;
    top: 70px;
    color: #0D3140;
}

/*Estilização para mobile*/
@media screen and (max-width: 767px){
    nav {
        display: block;
    }

    header {
        position: relative;
        top: 120px;
    }

    img {
        display: flex;
        position: absolute;
        top: 80px;
        left: 160px;
        width: 120px;
    }

    header h3 {
        position: relative;
        top: 430px;
    }

    header p1 {
        position: absolute;
        top: 250px;
    }

    header p2 {
        position: absolute;
        top: 400px;
    }

    #escolaridade {
        position: absolute;
        top: 770px;
    }
    
    #experiencia {
        position: absolute;
        top: 1260px;
    }
    
    #certificacao {
        position: absolute;
        top: 2960px;
    }
    
    #habilidades {
        position: absolute;
        top: 3430px;
    }

    footer {
        display: flex;
        width: 99%;
        padding-right: 5%;
        padding-left: 5%;
        position: absolute;
        top: 3700px;
    }
}