/* Cores escolhidas
.cor-background - { color: #146152; } verde escuro
.cor-destaque - { color: #FF5A33; } vermelho
.cor-principal - { color: #FFEC5C; } amarelo

.cor-reserva - { color: #44803F; } verde
.cor-reserva - { color: #B4CF66; } verde claro
*/

html {
    background: #FFEC5C;
    font-family: 'Arial', 'sans-serif'; /* Fonte sans-serif para página inteira */
    font-size: 18px; /* Tamanho fixo para página inteira */
    width: 80%; /* Largura geral da página em 80% */
    max-width: 1280px; /* Largura limitada a 1280px */
    margin: auto; /* Centralizar página */
}

body {
    color: #146152;
}

p {
    text-indent: 1em; /* Indentação para parágrafos */
}

h1 {
    font-family: cursive;
    text-align: center; /* Título alinhado ao centro */
    font-size: 1.8rem; /* Título com tamanho 1.8rem */
    color: #FF5A33;
}

h2 {
    text-align: center; /* Título alinhado ao centro */
    font-size: 1.4rem; /* Título com tamanho 1.4rem */
}

h3 {
    text-align: center; /* Título alinhado ao centro */
    font-size: 1.2rem; /* Título com tamanho 1.2rem */
}

#zen-intro header h1 , h2 {
    display: inline-block; /* h1 e h2 lado a lado com espaçamento */
    padding: 15px; /* Mantém espaçamento entre itens e página */
    margin: 15px; /* Mantém espaçamento entre itens e página */
}

#zen-intro header h1 {
    padding-left: 1em; /* Espaçamento lateral em 1em */
    padding-right: 1em; /* Espaçamento lateral em 1em */
}

.summary {
    text-align: center; /* Seção resumo alinhado ao centro */
}

.main p {
    line-height: 1.5; /* Espaçamento de 1.5 para parágrafos da seção principal */
}

#zen-intro {
    height: 550px; /* Altura da seção introdução em 550px */
}

.design-archives {
    display: none; /* Container removido da página */
}

header {
    background-color: #146152; /* Inversão de cor */
    color: #FFEC5C; /* Inversão de cor */
}

abbr {
    font-variant: small-caps; /* Altera a fote das abreviações */
}

aside ul {
    list-style-type: none; /* Remove os bullets */
}

aside ul li {
    margin: 1em; /* Espaçamento entre itens do menu em 1em */
    text-align: center; /* Centraliza os itens */
}

.main footer {
    margin: 4%; /* Espaçamento externo */
    padding: 2%; /* Espaçamento interno */
    text-align: center; /* Alinhar opções ao centro */
    display: flex; /* Flexbox aplicado */
    align-items: center; /* Centraliza os itens */
    justify-content: space-around; /* Espaçamento igual entre os itens */
    flex-flow: row wrap; /* Em caso de muitas opções, gera quebra de linha */
}

.main footer a {
    background-color: #146152; /* Inversão de cores */
    color: #FFEC5C; /* Inversão de cores */
    border-style: solid; /* Borda sólida */
    border-width: 2px; /* Largura da borda */
    padding: 0.5em; /* Espaçamento interno */
    border-color: #B4CF66; /* Cor da borda */
    display: inline-block; /* Espaçamento entre opções */
}

.page-wrapper {
    position: relative; /* Referência para posicionamento */
}

.explanation {
    width: 60%; /* Utilização de 60% da largura disponível */
    margin-right: 35%; /* Espaçamento à direita */
    border-right-style: solid; /* Estilo da borda */
    border-width: 1px; /* Largura da borda */
    border-right-color: #1f295c; /* Cor da borda à direita */
    padding-right: 2%; /* Espaçamento interno ao lado direito */
}

.design-selection {
    position: absolute; /* Definição para ajustar espaço */
    top: 480px; /* Definição para colocar ao lado de explanation */
    left: 62%; /* Definição para colocar ao lado de explanation */
    padding-left: 1%; /* Espaçamento interno à esquerda para centralizar */
    padding-right: 1%; /* Espaçamento interno à direita para centralizar */
}

.design-selection li {
    border-top: #1f295c solid 1px; /* Borda superior em todos os itens do menu */
}

.design-selection li:last-child {
    border-bottom: #1f295c solid 1px; /* Borda inferior no último item do menu */
}

a {
    color: #FF5A33; /* Fonte destaque para links */
    font-weight: bold; /* Fonte em negrito para links */
}

a:hover {
    color: #B4CF66; /* Altera a cor quando sobrepostos */
}

a:visited {
    font-weight: 400; /* Links visitados voltam para fonte normal */
}

.main p:first-of-type:first-letter { /* Uso de mais de um pseudo-classe para colocar a 1ª letra maior */
    font-size: 3em; /* Tamanhp 3x maior */
    font-family: 'Times New Roman', 'serif'; /* Fonte diferente da padrão */
    float: left; /* Flutuação à esquerda */
}

.benefits {
    display: flex; /* Display flexível */
    border-bottom: #1f295c solid 1px; /* Borda embaixo */
    border-top: #1f295c solid 1px; /* Borda em cima */
}

.benefits h3 {
    order: 2; /* Título à direita */
    align-self: center; /* Alinhado ao centro */
    flex-basis: 30%; /* Ocupação da largura */
}

.benefits p {
    flex-basis: 70%; /* Ocupação da largura */
}

.participation {
    display: flex; /* Display flexível */
    flex-wrap: wrap; /* Quebra de linha */
    border-top: #1f295c solid 1px; /* Borda em cima */
}

.participation p , .participation h3 {
    flex-basis: 50%; /* Ocupa metade do espaço disponível */
}

.participation h3 {
    align-self: center; /* Centralizado */
}
