/* Cores escolhidas
.cor-background - { color: #146152; } verde escuro
.cor-destaque - { color: #FF5A33; } amarelo
.cor-principal - { color: #FFEC5C; } vermelho

.cor-reserva - { color: #44803F; } verde
.cor-reserva - { color: #B4CF66; } verde claro
*/

html {
    background: #146152;
    font-family: 'Arial', 'sans-serif'; /* Fonte sans-serif para página inteira */
    font-size: 18px; /* Tamanho fixo para página inteira */
}

body {
    color: #FFEC5C;
}

p {
    text-indent: 1em; /* Indentação para parágrafos */
}

h1 {
    font-family: cursive;
    text-align: center; /* Título alinhado ao centro */
    font-size: 1.8rem; /* Título com tamanho 1.8rem */
    color: #FF5A33;
}

h2 {
    text-align: center; /* Título alinhado ao centro */
    font-size: 1.4rem; /* Título com tamanho 1.4rem */
}

h3 {
    text-align: center; /* Título alinhado ao centro */
    font-size: 1.2rem; /* Título com tamanho 1.2rem */
}

.summary {
    text-align: center; /* Seção resumo alinhado ao centro */
}

.main p {
    line-height: 1.5; /* Espaçamento de 1.5 para parágrafos da seção principal */
}

abbr {
    font-variant: small-caps;
}

a {
    color: #FF5A33;
}

a:hover {
    color: #B4CF66;
}
